
#navMenu .logo{
    width: 50px;
    height: 50px;
}
nav ul li {
    
    display: inline-block;
    justify-content: space-between;
}
h2{
    color: blue;
    justify-content: center;
    display: flex;
}