header{
    color: white;
}





h2{
    color: blue;
    justify-content: center;
    display: flex;
}

div img{
    width: 2000px;
    height: 800px;
    
}
header{
    background-color: white;
}

.nave nav ul li{
    display: inline-block;
    margin: 20px;

}
